# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/lib

# misc
.DS_Store
.env

*.log*

*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
.cache
*.yml
nginx.conf
*.sh
*.ps1
